/* TOP-BAR */
body{
    font-family: "Raleway", sans-serif;

}

.top-bar{
    width: 100%;
    /* outline: 2px solid red; */
    border-bottom: solid 1px #eee;

}
.header{
    margin: auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 50px;
    background-color: #fff;

}
.contact{
    margin-top: 12px;
}
.contact i{
    font-size: 15px;
    padding-left: 15px;
    color: #01b1d7;

}
.contact a{
    padding-left: 5px;
    color: #444444;
    text-decoration: none;
}
.contact a:hover{
    color: #01b1d7;
}
.media{
    margin-top: 12px;
}
.media a{
    text-decoration: none;
}
.media a i{
    padding: 5px;
    color: #444444;
    border-left: 1px solid #e9e9e9;
}
.media a:hover i{
    color: #01b1d7;
    background-color: #fff;
}
.container{
    width: 100%;
    /* outline: 2px solid black; */
}

/* FIXED-CONTAINER */


.fixed-container{
    position: sticky;
    background-color: #fff;
    top: 0;
    width: 100%;
    z-index: 97;
}
.header-container{
    /* outline: 2px solid black; */
    margin: auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.logo{
    margin: 15px;
}
h1 a{
    text-decoration: none;
    color: #354144;
    font-size: 30px;
    font-weight: 700;
    font-family: "Raleway", sans-serif
}
h1 a span{
    color: #01b1d7;
}
.navigation {
    margin-top: 20px;
}
.navigation ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.navigation ul li a{
    text-decoration: none;
    color: #444444;
    padding: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    transition: 0.3s;
}
.navigation ul .king{
    text-decoration: none;
    color: #01b1d7;
    padding: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;

}
.navigation ul li a:hover{
    color: #01b1d7;
}

/* HEADER-CONTAINER  */



.header-details{
    /* outline: solid 2px black; */
    margin: auto;
    width: 1200px;
    text-align: center;
    color: #fff
}
.header-details h2{
    padding-top: 70px;
    font-size: 50px;
}
.header-details p{
    margin: 50px 230px 20px 230px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}
.header-details a{
    background-color: #01b1d7;
    text-decoration: none;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    line-height: 5;
}
.header-details a:hover{
    background-color: #0ca9cc;
}
.header-image{
    background-image: url(images2/slide-1.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
}
.header-color{
    background-color: rgba(0, 0, 0, 0.4);
    height: 400px;
}

/* ABOUT-CONTAINER */

.about-container{
    margin: auto;
    /* outline: solid 2px black; */
    width: 1200px;
    display: flex;
    flex-direction: column;
}
.about-head{
    display: flex;
    flex-direction: row;
}
.about-left{
    width: 50%;
    padding: 20px;
    margin-bottom: 30px;
}
.about-left h2{
    font-size: 50px;
    margin-top: 40px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}
.about-left h3{
    font-size: 25px;
    font-weight: 500;
    margin: 25px 0px 40px 0px;
    padding: 10px 35px 10px 0px; 
    line-height: 1.3;
}
.about-right{
    width: 50%;
    padding: 15px;
    position: relative;
    margin-bottom: 30px;

}
.about-right p{
    font-size: 18px;
    margin-top:  40px;
    line-height: 1.3;
}
.about-right ul{
    list-style: none;
    font-size: 18px;
    margin-top: 20px;
    
}
.about-right ul i{
    font-size: 20px;
    color: #01b1d7;
    position: absolute;
    padding-top: 20px;
}
.about-right ul li{
    padding: 20px;
}
.about-footer{
    display: flex;
    justify-content: space-between;
}
.about-foot-left{
    width: 50%;
    padding: 25px;
}
.about-text{
    margin: 50px 0px 30px 0px;
    position: relative;
}
.about-text h3{
    font-size: 20px;
    margin: 10px 10px 10px 55px;
}
.about-text p{
    font-size: 15px;
    margin-left: 55px;
}
.about-text i{
    font-size: 40px;
    color: #01b1d7;
    position: absolute;
}
.about-foot-right{
    width: 50%;
    margin: 75px 10px 15px 10px;
    background-image: url(images2/about.jpg);
    background-size: cover;
    background-position: center;
}

/* ACHEIVE-CONTAINER */

.acheive-container{
    /* outline: 2px solid black; */
    margin: auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
}
.acheive-top{
    text-align: center;
    margin-top: 60px;
}
.acheive-top h3{
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}
.acheive-top p{
    font-size: 20px;
    margin-top: 15px;
    color: #fff;
}
.acheive-bottom{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.number span{
    font-size: 48px;
    color: #01b1d7;
    padding: 10px;
}
.number p{
    font-size: 14px;
    color: #fff;
    margin: 10px;
    text-align: center;
}
.acheive-image{
    background-image: url(images2/counts.jpg);
    background-position: center;
    background-size: cover;
}
.acheive-color{
    background-color: rgba(0, 0, 0, 0.7);
    height: 300px;
}

/* SERVICES-CONTAINER */

.service-container{
    /* outline: 2px solid black; */
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.service-top{
    text-align: center;
    margin-top: 60px;
}
.service-top h3{
    font-size: 30px;
}
.service-top p{
    font-size: 18px;
    font-weight: 500;
    padding: 15px;
}
.service-bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px 0px 0px 35px;

}
.service-icon{
    width: 50%;
    padding: 12px;
    background-color: #f2fdff;
    cursor: pointer;
}
.service-box{
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 8px;
    background-color: #fff;

}
.service-box i{
    font-size: 40px;
    color: #01b1d7;
    float: left;
}
.service-box h4{
    margin: 0px 0px 15px 70px;
    font-weight: 700;
    font-size: 18px;

}
.service-box p{
    margin-left: 70px;
    line-height: 24px;
    font-size: 14px;
}
.service-color{
    background-color: #f2fdff;
}
.service-icon:hover h4{
    color: #01b1d7;
}

/* PORTFOLIO-CONTAINER */

.portfolio-container{
    /* outline: solid 2px black; */
    margin: auto;
    width: 1200px;
}
.portfolio-head{
    text-align: center;
}
.portfolio-head h3{
    padding-top: 25px;
    font-size: 25px;
}
.portfolio-head p{
    padding: 15px 0px 15px 0px;
    font-size: 18px;
}
.portfolio-card ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 15px;
}
.portfolio-card ul li a{
    text-decoration: none;
    color: #444444;
    margin-left: 30px;
    padding: 10px;
    border-radius: 5px;
}
.portfolio-card ul .card-stay{
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    background-color: #01b1d7;
    padding: 10px;
    border-radius: 5px;
}

.portfolio-card ul li a:hover{
    color:#fff;
    background-color: #01b1d7;
}
.portfolio-bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
.port-card{
    width: 33.333333%;
    padding: 15px;
}
.port-image{
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 12px rgb(0 0 0 / 9%);
    transition: 0.3s;
}
.port-image img{
    max-width: 100%;
    transition: 0.3s;
}
.port-info{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(53, 65, 68, 0.6);
    align-items: center;
    opacity: 0;
}
.port-card:hover img{
    transform: scale(1.1);
}
.port-card:hover .port-info{
    opacity: 1;
}
.port-info h4{
    font-size: 20px;
    color: #fff;
    padding: 12px;
}
.port-info h5{
    font-size: 15px;
    color: #fff;
    padding: 12px;
}
.port-link{
    display: flex;
}
.port-link a{
    text-decoration: none;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    color: #01b1d7;
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin: 5px;
    transition: 0.3s;
}
.port-link a i{
    font-size: 20px;
    padding: 10px;
}
.port-link a:hover{
    background-color: #01b1d7;
    color: #fff;
}

/* TEAM-CONTAINER */

.team-container{
    /* outline: solid 2px black; */
    margin: auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
}
.team-top{
    text-align: center;
    margin-top: 50px;
}
.team-top h3{
    font-size: 40px;
    padding-bottom: 15px;
}
.team-top p{
    font-size: 18px;
}.team-bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px 0px 40px 0px;
}
.team-list{
    /* outline: 2px solid black; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%)
}
.team-img{
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.team-img img{
    max-width: 100%;
}
.team-list:hover img{
    transform: scale(1.1);
    transition: 0.3s;
}
.team-info{
    padding-left: 25px;
}
.team-info h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.team-info span{
    font-size: 15px;
    padding-bottom: 15px;
}
.team-info p{
    margin-top: 25px;
    line-height: 1.5;
    padding-right: 20px;
}
.team-link{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.team-link a{
    /* padding: 20px; */
    background-color: #c2cdcf;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-decoration: none;
    margin-left: 5px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.team-link a i{
    font-size: 20px;
    margin-left: 5px;
    color: #fff;
}
.team-link a:hover {
    background-color: #01b1d7;
}

/* TESTIMONIALS-CONTAINER */

.testi-info{
    /* outline: solid 2px black ; */
    margin: auto;
    width: 1200px;
    text-align: center;
}
.testi-info img{
    width: 100px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.15);
    margin-top: 50px;
}
.testi-info h3{
    font-size: 20px;
    margin: 10px 0 5px 0;
    color: #fff;
}
.testi-info h4{
    font-size: 15px;
    margin-bottom: 15px;
    color: #ddd;
}
.testi-info p{
    font-size: 15px;
    width: 80%;
    margin: 0px 0px 100px 100px;
    color: #ddd;
}
.testi-info p i{
    color: #444444;
}
.testi-image{
    background-image: url(images2/test.jpg);
    background-position: center;
    background-size: cover;
    height: 350px;
}
.testi-color{
    height: 350px;
    background-color: rgba(8, 10, 11, 0.7);
}

/* CONTACT-CONTAINER  */

.contact-container{
    display: flex;
    flex-direction: column;
}
.contact-head{
    text-align: center;
    margin-top: 50px;
}
.contact-head h3{
    font-size: 30px;
    margin-bottom: 20px;
}
.contact-head p{
    font-size: 15px;
    margin-bottom: 20px;
}
.contact-foot{
    /* outline: 2px solid black; */
    margin: auto;
    width: 1200px;
}
.contact-details{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    
}
.contact-us{
    /* outline: 2px black solid; */
    width: 33.33333%;
    padding: 30px;
    margin-top: 30px;
}
.contact-us i{
    font-size: 25px;
    color: #01b1d7;
    background-color: #e2faff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-us h3{
    padding-left:  70px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #354144;
}

.contact-us p{
    padding-left:60px;
    font-size: 15px;
    margin-bottom: 5px;
    color: #354144;
}
.contact-us:hover i{
    background-color: #01b1d7;
    color: #fff;
}
.contact-form{
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    margin-bottom: 50px;
}
form .contact-name{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
form .name{
    width: 50%;
    height: 50px;
    margin: 20px;
    font-size: 15px;
}
.contact-sub input{
    margin: 15px 15px 15px 20px;
    height: 50px;
    width: 96%;
    font-size: 15px;
}
.contact-message textarea{
    margin: 15px 15px 15px 20px;
    width: 96%;
    font-size: 15px;
}
form .name:focus{
    outline: 2px solid #01b1d7;
    border: none;
}
.contact-sub input:focus{
    outline: 2px solid #01b1d7;
    border: none;
}
.contact-message textarea:focus{
    outline: 2px solid #01b1d7;
    border: none;
}
.contact-button{
    text-align: center;
    padding-bottom: 20px;
}
.contact-button button{
    border-radius: 4px;
    padding: 6px;
    background-color: #0ca9cc;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    border: none
}
.contact-button button:hover{
    background: #01b1d7;
}

/* FOOTER-CONTAINER */

.footer-color{
    background-color: #1f2627;
}
.footer-details{
    /* outline: 2px solid black; */
    margin: auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
}
.footer-top{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    color: #fff;
}
.footer-add{
    /* outline: solid 2px black; */
    width: 25%;
    padding: 15px;
}
.footer-add h4{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 700;
}
.footer-add p{
    font-size: 18px;
    margin-top: 30px;
}
.footer-add-link{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.footer-add-link a{
    margin: 5px;
    text-decoration: none;
    
}
.footer-add-link a i{
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    background-color: #354144;
    color: #fff;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.footer-add-link a i:hover{
    background-color: #01b1d7;
}
.footer-link{
    /* outline: solid 2px black; */
    width: 20%;
    padding: 15px;
}
.footer-link h5{
    font-size: 20px;
    margin:0px 15px 20px 15px;    
}
.footer-link ul{
    list-style: none;
}
.footer-link li{
    font-size: 16px;
    padding: 10px;
}
.footer-link li i{
    padding: 5px;
}
.footer-link li a{
    text-decoration: none;
    color: #fff;
}
.footer-link li a:hover{
    color: #01b1d7;
}
.footer-news{
    /* outline: solid 2px black; */
    width: 35%;
    padding: 15px;
}
.footer-news h5{
    font-size: 20px;
    margin-bottom: 15px;
}
.footer-news p{
    font-size: 15px;
    margin-bottom: 20px;
}
.footer-news form{ 
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
}
.footer-news form .foot-name{
    font-size: 15px;
    padding: 5px;
    border: 0;
}
.footer-news form .foot-mail{
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    font-size: 16px;
    padding: 0 20px;
    background: #01b1d7;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 5px 5px 0;
    
}
form .foot-mail:hover{
    background-color: #0187a4;
}
.footer-bottom{
    background-color: #1f2627;
}
.foot-copy{
    padding-top: 30px;
    text-align: center;
    color: #fff;
}
.foot-copy-link{
    padding: 10px 0px 30px 0px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}
.foot-copy-link a{
    text-decoration: none;
    color: #01b1d7;
}
.foot-copy-link a:hover{
    color: #0187a4;
}
.arrow-page a{
    color: #fff;
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 20px;
    background-color: #01b1d7;
    padding: 8px;
    text-decoration: none

}
